
h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
}
h4 {
  font-family: 'Roboto', sans-serif;
}
li{
  padding-left: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
  font-family: 'Roboto', sans-serif;
}

.slim {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;

}
ol{
  padding-left: 0px !important;
}

button {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}
@media(hover: hover) and (pointer: fine) {
  li:hover {
      font-weight: bold;
  }
}

.App {
  margin:30px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
span {
  font-family: 'Roboto', sans-serif;
}